# Google Site Verification (optional)
# https://support.google.com/webmasters/answer/9008080#meta_tag_verification
PUBLIC_GOOGLE_SITE_VERIFICATION=your-google-site-verification-value

# Google Analytics 4 Measurement ID (optional)
# https://support.google.com/analytics/answer/9304153
PUBLIC_GA_ID=G-88ZWM7K7FQ
